[submodule "macos/scripts-common"]
	path = macos/scripts-common
	url = https://gitlab.com/bertrand-benoit/scripts-common.git
	branch = stable
[submodule "macos/2"]
	path = macos/2
	url = https://gitlab.com/bertrand-benoit/scripts-common.git
	branch = stable
