engine-strict=true
lyns.docs.api = "1.2.1" 
lyns.docs.nextjs = "1.10.9" 
lyns.encrypted.npm.token = "uoKKufvN0qo7YiGDDD/0CnH+TZ1TacnMPuI6PMQ8gGLiM8SlYDcgIBtLuFEUzsH4" 
lyns.nodocker = "0.2.6" 
lyns.rdtc = "0.9.5" 
lyns.rnd = "0.9.1" 
lyns.sh = "1.2.11" 
lyns.shellship.macrolayer = "0.8.66" 